<p id="notice"><%= notice %></p>

<h1>listing twts</h1>

<table>
  <thead>
    <tr>
      <th>twt</th>
      <th>bby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td><%= link_to 'hi', micropost %></td>
        <td><%= link_to 'edit', edit_micropost_path(micropost) %></td>
        <td><%= link_to 'twt', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Micropost', new_micropost_path %><br>
<img src="http://aaphotographicarts.com/wp-content/uploads/2014/10/Yellow-Bird-150x150.jpg">
